# Bài 10: Practice 2

## 1. Lists

### Bài 1: 

1. Tạo list `l` gồm các phần tử `[2, 10.5, "apple", [1, 2], True]`
1. In ra các `l`
1. In ra phần tử đầu tiên
1. In ra phần thứ 3
1. In ra phần thứ 6
1. In ra phần tử cuối cùng
1. Slice từ phần tử thứ 2 đến thứ 4 (tức lấy ra phần tử thứ 2, 3, 4)
1. Kiểm tra 2 có nằm trong `l`
1. Kiểm tra `'banana'` có trong `l`

In [1]:
# 1. Initialize
l = [2, 10.5, "apple", [1, 2], True]

In [2]:
# 2. Print
l

[2, 10.5, 'apple', [1, 2], True]

In [3]:
# 3. First 3 elements
l[:3]

[2, 10.5, 'apple']

In [4]:
# 4. Third element
l[2]

'apple'

In [5]:
# 5. Sixth element
# Error: index out of range

In [6]:
# 6. Last element
l[-1]

True

In [7]:
# 7. Slice 2nd-4th elements
l[1:4]

[10.5, 'apple', [1, 2]]

In [8]:
# 8. Check if 2 is in l
2 in l

True

In [9]:
# 9. Check if 'banana' is in l
"banana" in l

False

### Bài 2:

1. Tạo list `l` gồm các phần tử `[2, 10.5, "apple", [1, 2], True]`
1. Tạo list `l2` là shallow copy của `l` bằng 3 cách (gợi ý: dùng ép kiểu, slice, và copy)
1. `l` và `l2` có cùng identity không? Tạo sao? Kiểm tra bằng cách nào?
1. Thay đổi phần tử đầu tiên của `l` thành `99`
1. In ra `l` và `l2`
1. Nhận xét content 2 list này có giống nhau ko? Vì sao?

In [10]:
# 1. Initialize
l = [2, 10.5, "apple", [1, 2], True]

In [11]:
# 2. Make a shallow copy
# Method 1
l2 = l.copy()

# Method 2
l2 = l[:]

# Method 3
l2 = list(l)

In [12]:
# 3. Check identity
print(id(l))
print(id(l2))
print(l is l2)

2191090481152
2191091081408
False

In [13]:
# 4. Change l[0] to 99
l[0] = 99

In [14]:
# 5. Print l and l2
print(l)
print(l2)

[99, 10.5, 'apple', [1, 2], True]
[2, 10.5, 'apple', [1, 2], True]

6. Nhận xét

- Trước phép gán `l[0] = 99`, thì `l[0]` và `l2[0]` cùng trỏ tới một object (tạm gọi là `O1`) chứa value `2`
- Khi phép gán xảy ra, nhãn `l[0]` được gỡ ra khỏi `O1`, và dán vào object khác (tạm gọi là `O2`) chứa value `99`
- Tuy nhiên, không có phép gán nào xảy ra với `l2[0]`, nên nhãn `l2[0]` vẫn trỏ tới `O1`

In [15]:
# Địa chỉ (ID) của O1
id(l[0])

140724723991392

In [16]:
# Địa chỉ (ID) của O2
id(l2[0])

140724723988288

### Bài 3:

1. Tạo list `l` gồm các phần tử `[2, 10.5, "apple", [1, 2], True]`
1. Tạo list `l2` bằng phép gán `l2 = l`
1. `l` và `l2` có cùng identity không? Tạo sao? Kiểm tra bằng cách nào?
1. Thay đổi phần tử đầu tiên của `l` thành `99`
1. In ra `l` và `l2`
1. Nhận xét content 2 list này có giống nhau ko? Vì sao?

In [17]:
# 1. Initialize
l = [2, 10.5, "apple", [1, 2], True]

In [18]:
# 2. Assign
l2 = l

In [19]:
# 3. Check identity
# Same ID, vì phép gán l2 = l không tạo copy
# l và l2 là 2 nhãn dán cùng lên 1 object

print(id(l))
print(id(l2))
print(l is l2)

2191090497280
2191090497280
True

In [20]:
# 4. Change l[0] to 99
l[0] = 99

In [21]:
# 5. Check contents
print(l)
print(l2)

[99, 10.5, 'apple', [1, 2], True]
[99, 10.5, 'apple', [1, 2], True]

In [22]:
# 6. Why same contents?
# Vì l và l2 thực chất là 2 tên (nhãn) ứng với cùng 1 object
# Nên những thay đổi thông qua một nhãn sẽ được phản ánh ở nhãn còn lại

### Bài 4:

1. Tạo list `l` gồm các phần tử `[2, 10.5, "apple", [1, 2], True]`
1. Thêm `'A'` vào cuối `l`. In ra `l`
1. Thêm `'B'` vào vị trí thứ 3. In ra `l`
1. Xóa phần tử cuối cùng ra khỏi list. In ra `l`
1. Trong 1 câu lệnh, lấy ra phần tử cuối cùng của `l`, lưu vào biến `last_element` và đồng thời xóa phần tử này khỏi `l`. In ra `l` và `last_element`
1. Xóa phần tử `'apple'` ra khỏi `l`
1. Thêm 3 phần tử sau vào `l`: `1000, 2000, 3000`

In [23]:
# 1. Initialize
l = [2, 10.5, "apple", [1, 2], True]

In [24]:
# 2. Append element
l.append("A")

# Print
l

[2, 10.5, 'apple', [1, 2], True, 'A']

In [25]:
# 3. Insert element
l.insert(2, "B")

# Print
l

[2, 10.5, 'B', 'apple', [1, 2], True, 'A']

In [26]:
# 4. Delete element
del l[-1]

# Print
l

[2, 10.5, 'B', 'apple', [1, 2], True]

In [27]:
# 5. Pop element
last_element = l.pop()

# Print
print(last_element)
print(l)

True
[2, 10.5, 'B', 'apple', [1, 2]]

In [28]:
# 6. Remove element
if "apple" in l:
    l.remove("apple")
    
# Print
l

[2, 10.5, 'B', [1, 2]]

In [29]:
# 7. Extend the list
l.extend([1000, 2000, 3000])

# Print
l

[2, 10.5, 'B', [1, 2], 1000, 2000, 3000]

### Bài 5:

1. Tạo list `l` gồm gồm các phần tử `[1, -2, 0, 15, 70, 3.5]`
1. Tạo `l2` chứa các phần tử đã được sắp xếp của `l` theo thứ tự tăng dần (không thay đổi l). In ra `l`, `l2`
1. Tạo `l2` chứa các phần tử đã được sắp xếp của `l` theo thứ tự giảm dần (không thay đổi l). In ra `l`, `l2`
1. Sắp xếp `l` theo thứ tự tăng dần (lưu thay đổi). In ra `l`
1. Sắp xếp `l` theo thứ tự giảm dần (lưu thay đổi). In ra `l`

In [30]:
# 1. Initialize
l = [1, -2, 0, 15, 70, 3.5]

In [31]:
# 2. Sort l (ascending), but do not change l
l2 = sorted(l)

# Print
print(l2)

[-2, 0, 1, 3.5, 15, 70]

In [32]:
# 3. Sort l (descending), but do not change l
l2 = sorted(l, reverse=True)

# Print
print(l2)

[70, 15, 3.5, 1, 0, -2]

In [33]:
# 4. Sort l (ascending), and change l
l.sort()

# Print
print(l)

[-2, 0, 1, 3.5, 15, 70]

In [34]:
# 5. Sort l (descending), and change l
l.sort(reverse=True)

# Print
print(l)

[70, 15, 3.5, 1, 0, -2]

### Bài 6:

1. Tạo list `l` gồm gồm các phần tử `[1, -2, 0, 15, 70, 'A']`
1. Sắp xếp list `l`. Giải thích kết quả.

In [35]:
# 1. Intialize
l = [1, -2, 0, 15, 70, 'A']

# Print
l

[1, -2, 0, 15, 70, 'A']

In [36]:
# 2. Sort
# Error: 
# - List chỉ sort được khi các phần tử có kiểu tương thích với nhau và có thể so sánh được
# - Ở đây, kiểu int và str không thể so sánh -> không sắp xếp được

### Bài 7:
    
1. Tạo list `l` gồm gồm các phần tử `[1, -2, 0, 10, -3]`
2. In ra giá trị tuyệt đối của các phần tử của `l`

In [37]:
# 1. Intialize
l = [1, -2, 0, 10, -3]

In [38]:
# 2. Print absolute values
for x in l:
    print(abs(x))

1
2
0
10
3

## 2. Tuples

### Bài 1:

1. Tạo tuple `t` gồm các phần tử `[1, -2, 35, 40, 10.5]`
1. In ra `t`
1. Đổi phần tử đầu tiên của `t` thành `99`. Giải thích kết quả
1. Tạo tuple `t2` có các phần tử là phần tử của `t` nhưng được sắp xếp theo thứ tự tăng dần. In `t` và `t2`
1. Sắp xếp `t` theo thứ tự giảm dần (lưu thay đổi). Giải thích kết quả

In [39]:
# 1. Initialize
t = (1, -2, 35, 40, 10.5)

In [40]:
# 2. Print
t

(1, -2, 35, 40, 10.5)

In [41]:
# 3. Change element
# Error: tupple is immutable

In [42]:
# 4. Sort t2 (ascending), result is a tuple
t2 = tuple(sorted(t))

# Print
print(t)
print(t2)

(1, -2, 35, 40, 10.5)
(-2, 1, 10.5, 35, 40)

In [43]:
# 5. Không có methods nào của tuple có thể sắp xếp inplace
# Cách thay thế
t = tuple(sorted(t))

# Print
t

(-2, 1, 10.5, 35, 40)

## 3. Ranges

### Bài 1:

1. Tạo một range `r` chứa 20 số nguyên đầu tiên
1. Tạo một list `l` từ `r`
1. In ra phần tử thứ 5 của cả `r` và `l`
1. In ra phần tử cuối cùng của cả `r` và `l`
1. Slice phần tử từ thứ 3 đến cuối cùng của cả `r` và `l`

In [44]:
# 1. Initialize
r = range(20)

In [45]:
# 2. Make a list
l = list(r)

# Print
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [46]:
# 3. Print 5th element
print(r[4])
print(l[4])

4
4

In [47]:
# 4. Print last element
print(r[-1])
print(l[-1])

19
19

In [48]:
# 5. Slice from 3rd to last
print(r[2:])
print(l[2:])

range(2, 20)
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### Bài 2:

1. Tạo range `r` ứng với 20 số lẻ đầu tiên.
1. Tạo list `l` từ `r`
1. In ra `l` và `r`

In [49]:
# 1. Initialize
r = range(1, 40, 2)

# Check length
len(r)

20

In [50]:
# 2. Make a list
l = list(r)

In [51]:
# 3. Print
print(r)
print(l)

range(1, 40, 2)
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

### Bài 3:

1. Tạo range `r` ứng với 100 số nguyên đầu tiên
1. Lấy ra những số chẵn từ `r` lưu vào list `even_numbers`
1. In ra `even_numbers`

In [52]:
# 1. Initialize
r = range(100)

In [53]:
# 2. Filter even numbers
even_numbers = []

for x in r:
    if x % 2 == 0:
        even_numbers.append(x)

In [54]:
# 3. Print results
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

## 4. Strings

### Bài 1:

1. Tạo string `s` với giá trị `'This is a text string.'`
1. In ra ký tự đầu
1. In ra ký tự thứ 3
1. In ra ký tự cuối
1. In ra substring từ ký tự thứ 5 đến hết string
1. Replicate `s` thành 3 lần, tức `'This is a text string.This is a text string.This is a text string.'`
1. `s` có bao nhiêu ký tự?
1. Ký tự `i` (lowercase) xuất hiện bao nhiêu lần trong `s`?
1. Kiểm tra xem `'his'` có trong `s`
1. Kiểm tra xem `'her'` có trong `s`
1. Kiểm tra xem `'this'` có trong `s`

In [55]:
# 1. Intialize
s = "This is a text string."

In [56]:
# 2. First element
s[0]

'T'

In [57]:
# 3. Third element
s[2]

'i'

In [58]:
# 4. Last element
s[-1]

'.'

In [59]:
# 5. Fifth to last
s[4:]

' is a text string.'

In [60]:
# 6. Replicate 3 times
s * 3

'This is a text string.This is a text string.This is a text string.'

In [61]:
# 7. Check length
len(s)

22

In [62]:
# 8. Check occurences
s.count("i")

3

In [63]:
# 9. Check if 'his' is in s
"his" in s

True

In [64]:
# 10. Check if 'her' is in s
"her" in s

False

In [65]:
# 11. Check if 'this' is in s
"this" in s

False

### Bài 2:

1. Tạo string `s1` với giá trị `'Dummy text 1'`
1. Tạo string `s2` với giá trị `'Dummy text 2'`
1. Nối `s1` với `s2` thành câu `'Dummy text 1. Dummy text 1'` bằng 2 cách (hint: dùng `+` hoặc `.format()`)

In [66]:
# 1. Initialize s1
s1 = "Dummy text 1"

In [67]:
# 2. Initialize s2
s2 = "Dummy text 2"

In [68]:
# Concatenate strings
# Method 1
print(s1 + ". " + s2)

# Method 2
print("{}. {}".format(s1, s2))

Dummy text 1. Dummy text 2
Dummy text 1. Dummy text 2

### Bài 3

1. Tạo string `s` với giá trị `'Dummy text 1'`
1. Dùng hàm `sorted` để sắp xếp các ký tự của `s` theo thứ tự tăng dần. Nhận xét gì về kết quả?
1. Làm thế nào để in chuỗi theo thứ tự đảo ngược (i.e. `'1 txet ymmuD'`) bằng 2 cách (hint: dùng slice hoặc `reversed` + `.join()`)

In [69]:
# 1. Initialize
s = "Dummy text 1"

# Print
s

'Dummy text 1'

In [70]:
# 2. Sort
# Comment: returned result is a list of characters
sorted(s)

[' ', ' ', '1', 'D', 'e', 'm', 'm', 't', 't', 'u', 'x', 'y']

In [71]:
# 3. Print reversed string
"".join(reversed(s))

'1 txet ymmuD'

### Bài 4:

1. Tạo string `s` với giá trị `'barack ObamA'`
1. Tạo string toàn ký tự hoa từ `s`
1. Tạo string toàn ký tự thường từ `s`
1. Đảo ngược ký tự hoa thường từ `s`
1. Tạo string `'Barack Obama'` từ `s`
1. Tạo string `'Barack obama'` từ `s`

In [72]:
# 1. Initialize
s = "barack ObamA"

In [73]:
# 2. Upper
s.upper()

'BARACK OBAMA'

In [74]:
# 3. Lower
s.lower()

'barack obama'

In [75]:
# 4. Swap case
s.swapcase()

'BARACK oBAMa'

In [76]:
# 5. Title
s.title()

'Barack Obama'

In [77]:
# 6. Capitalize
s.capitalize()

'Barack obama'

### Bài 5:

1. Tạo string `s` với giá trị `'barack ObamA'`
1. Kiểm tra xem `s` có bắt đầu với `b`
1. Kiểm tra xem `s` có bắt đầu với `B`
1. Kiểm tra xem `s` có kết thúc với `a`
1. Kiểm tra xem `s` có kết thúc với `A`
1. Kiểm tra xem `s` có chứa `'oba'`
1. Kiểm tra xem `s` có chứa `'Oba'`

In [78]:
# 1. Intialize
s = "barack ObamA"

In [79]:
# 2. Starts with b
s.startswith("b")

True

In [80]:
# 3. Starts with B
s.startswith("B")

False

In [81]:
# 4. Ends with a
s.endswith("a")

False

In [82]:
# 5. Ends with A
s.endswith("A")

True

In [83]:
# 6. Contain 'oba'
"oba" in s

False

In [84]:
# 7. Contain 'Oba'
"Oba" in s

True

### Bài 6:

1. Tạo string `s` với giá trị `'I am handsome. LOL.'`
1. Đếm số khoảng trắng trong `s`
1. Đếm số ký tự hoa trong `s`

In [85]:
# 1. Initialize
s = "I am handsome. LOL."

In [86]:
# 2. Count number of spaces
s.count(" ")

3

In [87]:
# 3. Count number of uppercase characters
n_upper = 0

for x in s:
    if x.isupper():
        n_upper = n_upper + 1
        
# Print
print(n_upper)

4

### Bài 7:

1. Tạo string `s` với giá trị `'Donald Trump'`
1. Từ `s`, tạo biến `names` là một tuple gồm 2 phần tử với phần tử đầu là `'Donald'` và phần tử cuối là `'Trump'`
1. Unpack `names` vào 2 biến mới là `first_name` và `last_name`

In [88]:
# 1. Initialize
s = "Donald Trump"

In [89]:
# 2. Get first name and last name as a  tuple
names = tuple(s.split())

# Print
print(names)

('Donald', 'Trump')

In [90]:
# 3. Unpack tuple
first_name, last_name = names

print(first_name)
print(last_name)

Donald
Trump

### Bài 8:

1. Tạo string `s` với giá trị `'I am in love with Python. Just kidding.'`
1. Đếm số từ (words) trong `s` (assumption: các từ cách nhau bởi khoảng trắng)

In [91]:
# 1. Initialize
s = "I am in love with Python. Just kidding."

In [92]:
# 2. Count number of words
len(s.split())

8

### Bài 9:

1. Tạo string `s` với giá trị `'   Hello. Have a good day.     '`
1. Xóa khoảng trắng bên trái
1. Xóa khoảng trắng bên phải
1. Xóa khoảng trắng cả 2 bên trái phải
1. Xóa hết các khoảng trắng (hint: dùng `.replace()`)

In [93]:
# 1. Initialize
s = "   Hello. Have a good day.     "

In [94]:
# 2. Trim left
s.lstrip()

'Hello. Have a good day.     '

In [95]:
# 3. Trim right
s.rstrip()

'   Hello. Have a good day.'

In [96]:
# 4. Trim both
s.strip()

'Hello. Have a good day.'

In [97]:
# 5. Delete all spaces
s.replace(" ", "")

'Hello.Haveagoodday.'

### Bài 10:

1. Tạo biến `country` có giá trị `'Vietnam'`
1. Tạo biến `num_provinces` có giá trị `63`
1. In ra dòng `'Vietnam has 63 provinces'` dùng `country` và `num_provinces` ở trên.

In [98]:
# 1. country
country = "Vietnam"

In [99]:
# 2. num_provinces
num_provinces = 63

In [100]:
# 3. Formatted string
print("{} has {} provinces".format(country, num_provinces))

Vietnam has 63 provinces

### Bài 11:

1. Tạo nhanh 1 list `months` các số nguyên từ `1` đến `12`
1. Biến các phần tử list này thành kiểu `str`
1. Biến `months` về dạng `['01', '02', '03', ...., '11', '12']`

In [101]:
# 1. Initialize
months = list(range(1, 13))

# Print
print(months)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [102]:
# 2. Convert elements to string
months_str = []

for m in months:
    months_str.append(str(m))
    
# Print
print(months_str)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']

In [103]:
# 3. Pad leading zeros
months_str = []

for m in months:
    months_str.append(str(m).zfill(2))
    
# Print
print(months_str)

['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

## 5. Dictionaries

### Bài 1:
    
1. Tạo một `dict` tên `scores` có 3 elements với keys là `'math', 'science', 'spanish'` và values tương ứng là `9., 8.5, 10.`
1. In ra `scores`
1. In ra điểm môn Toán
1. Sửa lại điểm môn Science thành `7.5` và in lại `scores`
1. Thêm môn `'english'` với điểm `3.` và in lại `scores`
1. Kiểm tra xem `math` có trong `scores` không
1. Kiểm tra xem `philosophy` có trong `scores` không
1. Kiểm tra xem có môn nào dưới `4` không. Nếu có in ra tên môn học và điểm tương ứng

In [104]:
# 1. Initialize
scores = {
    "math": 9.,
    "science": 8.5,
    "spanish": 10.
}

In [105]:
# 2. Print
scores

{'math': 9.0, 'science': 8.5, 'spanish': 10.0}

In [106]:
# 3. Print math score
scores["math"]

9.0

In [107]:
# 4. Update science score
scores["science"] = 7.5

# Print
scores

{'math': 9.0, 'science': 7.5, 'spanish': 10.0}

In [108]:
# 5. Add new key value
scores["english"] = 3.

# Print
scores

{'math': 9.0, 'science': 7.5, 'spanish': 10.0, 'english': 3.0}

In [109]:
# 6. Check if math is in scores
"math" in scores

True

In [110]:
# 7. Check if philosophy in scores
"philosophy" in scores

False

In [111]:
# 8. Print subjects with score < 4
for k, v in scores.items():
    if v < 4:
        print("{}: {}".format(k, v))

english: 3.0

### Bài 2:
1. Tạo 3 dict như sau: `d1 = {1:10, 2:20}, d2 = {3:30, 4:40}, d3 = {5:50,6:60}`
1. Tạo dict `d` là kết của của việc combine information từ `d1, d2, d3` (theo thứ tự) bằng 2 cách (hint: manually update hoặc dùng vòng `for`)

In [112]:
# 1. Initialize
d1 = {1:10, 2:20}
d2 = {3:30, 4:40}
d3 = {5:50,6:60}

In [113]:
# 2a. Combine d1, d2, d3 into d (manual)
d = {}
d.update(d1)
d.update(d2)
d.update(d3)

# Print
d

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [114]:
# 2b. Combine d1, d2, d3 into d (using for)
d = {}

for x in [d1, d2, d3]:
    d.update(x)

# Print
d

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

## 6. Sets

### Bài 1:

1. Tạo set `s` gồm 3 phần tử `1, 2, 3`
1. Thêm `99` vào `s` (hint: dùng `.add()`)
1. Loại `2` ra khỏi `s` (hint: dùng `.discard()`)
1. Thêm 1 lần 3 phần tử sau vào s1: `20, 45, 30` (hint: dùng `.update()`)

In [115]:
# 1. Initialize
s = {1, 2, 3}

In [116]:
# 2. Add element
s.add(99)

# Print
s

{1, 2, 3, 99}

In [117]:
# 3. Remove element
s.discard(2)

# Print
s

{1, 3, 99}

In [118]:
# 4. Add more than 1 element
s.update({20, 45, 30})

# Print
s

{1, 3, 20, 30, 45, 99}

### Bài 2:

1. Tạo set s1 gồm các phần tử 1, 2, 3, 5
2. Tạo set s2 gồm các phần tử 1, 3, 10, 99
3. Tạo set s3 gồm các phần tử 1, 3
4. In hợp s1, s2
5. In giao s1, s2
6. In hiệu s1 trừ s2
7. Kiểm tra s2 có là tập con của s1 (in True/False)
8. Kiểm tra s3 có là tập con của s1 (in True/False)

In [119]:
# 1. s1
s1 = {1, 2, 3, 5}

In [120]:
# 2. s2
s2 = {1, 3, 10, 99}

In [121]:
# 3. s3
s3 = {1, 3}

In [122]:
# 4. s1 | s2
s1 | s2

{1, 2, 3, 5, 10, 99}

In [123]:
# 5. s1 & s2
s1 & s2

{1, 3}

In [124]:
# 6. s1 - s2
s1 - s2

{2, 5}

In [125]:
# 7. s2 < s1
s2 < s1

False

In [126]:
# 8. s3 < s1
s3 < s1

True